<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="AnnoationConcepts">
    <classes>
      <!-- Use the actual package + class name (package is 'TestNG1' for these tests) -->
      <class name="TestNG1.AnnoationConcepts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
