<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="AnnoationConcepts.java">
  <classes>
      <class name="MyAutomation.src.test.java.TestNG1">
      </class>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
